<?php include '../../include/navbar.html'; ?>
<?php include 'all.php'; ?>
<div class='container-fluid'>
    <div class="row p-3">
        <h1>Administración de Usuarios</h1>
    </div>
    <div class="row p-3">
        <div class="col">
            <div class="container shadow-lg rounded m-auto p-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php

                        while($row = pg_fetch_array($execute)){
                            $id_CRUD = $row['id'];
                            //echo $id_CRUD;
                            $_SESSION['id_CRUD'] = $id_CRUD;
                            $name_crud = $row['nombre'];
                            $_SESSION['name_CRUD'] = $name_crud;
                            $surname_CRUD = $row['apellido'];
                            $_SESSION['surname_CRUD'] = $surname_CRUD;
                            $email_CRUD = $row['correo'];
                            $_SESSION['email_CRUD'] = $email_CRUD;
                        ?>
                    <tr>
                        <td><?php echo $_SESSION['id_CRUD']; ?></td>
                        <td><?php echo $_SESSION['name_CRUD']; ?></td>
                        <td><?php echo $_SESSION['surname_CRUD'];?></td>
                        <td><?php echo $_SESSION['email_CRUD']; ?></td>
                        <td>
                            <a href="/admin/users/read.html?id=<?php echo $id_CRUD; ?>" class="btn btn-primary">Ver<i class="fas fa-search"></i></a>
                            <a href="/admin/users/update.html?id=<?php echo $id_CRUD; ?>" class="btn btn-warning">Editar<i class="fas fa-edit"></i></a>
                            <a href="/admin/users/delete.php?id=<?php echo $id_CRUD; ?>" class="btn btn-danger">Borrar<i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <?php
                        }
                        ?>
                    </tbody>
                </table>
                <a href="/admin/users/create.html" class="btn btn-success">Nuevo <i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>
</body>

</html>