<?php include '../../include/navbar.html'; ?>
<?php include 'create.php'; ?>
    <div class='container-fluid'>
        <div class="row p-3">
            <h1>Crear Usuario</h1>
        </div>
        <div class="row p-3">
            <div class="col">
                <div class="container shadow-lg rounded m-auto p-5">
                    <form action="create.php" method="POST">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="surname">Apellido</label>
                            <input type="text" class="form-control" placeholder="Apellido" name="surname" id="surname">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="correo@electronico.com" name= "email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Contraseña" name="pwd"id="pwd" required>
                        </div>
                        <div class="form-group">
                            <label for="country">País</label>
                            <select class="form-control" id="country" name="country">
                              <option value="1">Angola</option>
                              <option value="2">Sudáfrica</option>
                              <option value="3">Canadá</option>
                              <option value="4">Estados Unidos</option>
                              <option value="5">Chile</option>
                              <option value="6">Australia</option>
                              <option value="7">India</option>
                              <option value="8">Corea del Sur</option>
                              <option value="9">Rusia</option>
                              <option value="10">Suiza</option>
                            </select>
                          </div>
                          <input type="hidden" name="fecha_registro" value=" <?php echo date("Y-m-d H:i:s") ?>">
                        <div class='d-flex justify-content-end'>
                            <a class="btn btn-secondary mx-3" href="/admin/users/all.html">Volver</a>
                            <button type="submit" name="create" class="btn btn-primary">Crear Usuario</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>