<?php include '../../include/navbar.html'; ?>
<?php include 'read.php'; ?>
<?php $countries = array('Angola', 'Sudafrica', 'Canada', 'Estados Unidos', 'Chile', 'Australia', 'India', 'Corea del Sur', 'Rusia', 'Suiza'); ?>
    <div class='container-fluid'>
        <div class="row p-3">
            <h1>Ver Usuario</h1>
        </div>
        <div class="row p-3">
            <div class="col">
                <!-- Mostrar aquí los datos de cada usuario -->
                <div class="container shadow-lg rounded m-auto p-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <?php 
                                $i = 0;
                                while($row = pg_fetch_array($execute)){
                                    $id = $row['id'];
                                    $name = $row['nombre'];
                                    $surname = $row['apellido'];
                                    $email = $row['correo'];
                                    $pais = $row['pais'];
                                    $fecha = $row['fecha_registro'];
                            ?>
                            
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Pais</th>
                                <th scope="col">Fecha de Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Debería haber una de estas por cada usuario -->
                            <!-- Link de las Acciones debe llevar el ID del usuario -->
                            
                                <tr>
                                    <td><?php echo $id; ?></td>
                                    <td><?php echo $name; ?></td>
                                    <td><?php echo $surname; ?></td>
                                    <td><?php echo $email; ?></td>
                                    <td><?php echo $countries[$pais - 1]; ?></td>
                                    <td><?php echo $fecha; ?></td>
                                </tr>
                                
                        </tbody>
                        <?php $i++; ?>
                        <?php } ?>
                    </table>
                        
                    <div class='d-flex justify-content-end'>
                        <a href="/admin/users/all.html" class="btn btn-secondary">Volver</a>
                        <!-- Estos links deberían tener el ID asociado -->
                        <a href="/admin/users/update.html?id=<?php echo $row['id']; ?>" class="btn btn-warning mx-3">Editar <i class="fas fa-edit"></i></a>
                        <a href="/admin/users/delete.php? id=<?php echo $row['id']; ?>" class="btn btn-danger">Borrar <i class="fas fa-trash-alt"></i></a></td></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>