<?php include '../include/navbar.html'; ?>
<?php include 'profile.php'; ?>
<?php $countries = array('Angola', 'Sudafrica', 'Canada', 'Estados Unidos', 'Chile', 'Australia', 'India', 'Corea del Sur', 'Rusia', 'Suiza'); ?>
    <div class='container-fluid'>
        <div class="row p-3">
            <h1>Mi Perfil</h1>
        </div>
        <div class="row p-3">
            <div class="col">
                <div class="container shadow-lg rounded m-auto p-5">
                    <p>Nombre Completo: <?php echo $_SESSION['name'] . " " . $_SESSION['surname']; ?></p>
                    <p>Correo: <?php echo $_SESSION['mail']; ?></p>
                    <p>País: <?php echo $countries[($_SESSION['country']) - 1]; ?></p>
                    <p>Fecha de Ingreso: <?php echo $_SESSION['regDate']; ?></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>