<style>
    .htotal > * {
        display: inline-block;
        text-align: center;
        padding: 3px;
        margin: 3px auto;
    }
</style>
<?php include '../include/navbar.html'; ?>
<?php include 'wallet.php'; ?>
<div class='container-fluid'>
        <div class="row p-3">
            <h1>Mi Billetera</h1>
        </div>
        <div class="row p-3">
            <div class="col">
                <div class="container shadow-lg rounded m-auto p-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Valor Actual</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $count = 0;
                            for ($i = 0; $i < sizeof($_SESSION['coin_sigla']); $i++){
                                ?>
                                <tr>
                                    <?php $coin_sigla = $_SESSION['coin_sigla']?>
                                    <td><?php echo $coin_sigla[$i][0]?></td>

                                    <?php $coin_name = getName($coin_sigla[$i][0])?>
                                    <td><?php echo $coin_name[0]?></td>

                                    <td><?php echo $_SESSION['coin_cant'][$i][0]?></td>

                                    <?php $coin_value = getValue($coin_sigla[$i][0])?>
                                    <td><?php echo "$" . $coin_value[0]?></td>

                                    <?php $total = getTotal($_SESSION['coin_cant'][$i][0], $coin_value[0])?>
                                    <td><?php echo "$" . $total; $count = $count + $total?></td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                    <div class = "htotal">
                        <h5>TOTAL USD: </h5>
                        <h5>
                            <?php echo "$" . $count?>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>